


html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
   line-height: 2;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(255, 0, 13);
    padding: 50px 20px 0px;
    font-family: fantasy;
    color:whitesmoke;
	
}
.header {
    background-color: rgb(1, 8, 8);
    min-height: 150px;

}
.content {
    background-color: white;
    min-height: 300px;
    padding: 10px;
    
    
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}
h1{
	color: white;
    font-family: fantasy;
    padding-inline: 20px;
    font-size: 40px;
	
}
.row{
    margin:5px;
}
label{
    width: 100px;
    text-align: start;
    display: inline-block;
    padding-right: 5px;
}
fieldset{
    border-color: black;

}

